<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div id="error" th:if="${error}==1" class="alert alert-danger"
	style="display: block; text-align: center; margin-top: 57px">
	Error al intentar acceder, nombre de usuario o contraseña erroneos
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div id="logout" th:if="${logout}=='success'" class="alert alert-success"
	style="display: block; text-align: center; margin-top: 57px">
	You have logged out successfully
	<button type="button" class="close" data-dismiss="alert"
		aria-hidden="true">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card border-dark text-center" style="margin-top: 34px;">
			<div class="card-header">Please sign in</div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">

					<div class="form-group col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Username" autofocus required />
					</div>

					<div class="form-group col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" autofocus required />
					</div>

					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
							value="Sing In" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>